body {
    background-color: rgb(61, 57, 57);
}


button {
    background-color: #4cff00;
}
.clock {
    background-color: rgba(255, 255, 255, 0.00);
    color: rgba(255, 255, 255, 0.26);
    font: bold 90px arial, verdana;
}