body {
    background-color: rgb(61, 57, 57);
    overflow: hidden;
}


button {
   background-color: transparent;
   border-radius: 11px;
   border: 1px solid rgba(255, 255, 255,0.00);
   font-weight: bold;
   padding: 6px 7px;
   text-decoration: none;
}
.clock {
    background-color: rgba(255, 255, 255, 0.00);
    color: rgba(255, 255, 255, 0.26);
    font: bold 90px arial, verdana;
}
.date {
    background-color: rgba(255, 255, 255, 0.00);
    color: rgba(255, 255, 255, 0.26);
    font: bold 2ßpx arial, verdana;
}
#footer {
    background: transparent;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.26);
}
a:link {
   color: rgba(255, 255, 255, 0.26);
}
a:visited {
   color: rgba(255, 255, 255, 0.26);
}
a:hover {
   color: rgba(255, 255, 255, 0.26);
}
a:active {
   color: rgba(255, 255, 255, 0.26);
}

